databases[sqlite]>=0.3.2,<0.5.1
databases[postgresql]>=0.3.2,<=0.4.1
databases[mysql]>=0.3.2,<=0.4.1
pydantic >=1.6.1,!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<=1.8.2
sqlalchemy>=1.3.18,<=1.3.23
typing_extensions>=3.7,<=3.7.4.3
orjson
cryptography

# Async database driversy
aiomysql
aiosqlite
aiopg
asyncpg

# Sync database drivers for standard tooling around setup/teardown/migrations.
pymysql
psycopg2-binary
mysqlclient

# Testing
pytest
pytest-cov
codecov
pytest-asyncio
fastapi
flake8
flake8-black
flake8-bugbear
flake8-import-order
flake8-bandit
flake8-annotations
flake8-builtins
flake8-variables-names
flake8-cognitive-complexity
flake8-functions
flake8-expression-complexity

# types
mypy
types-ujson
types-PyMySQL
types-ipaddress
types-enum34
types-cryptography
types-orjson
types-aiofiles
types-pkg_resources
types-requests
types-toml

# Documantation
mkdocs
mkdocs-material
mkdocs-material-extensions
pydoc-markdown

# Performance testing
yappi
