databases[sqlite]
databases[postgresql]
databases[mysql]
pydantic
sqlalchemy
typing_extensions
orjson
cryptography

# Async database drivers
aiomysql
aiosqlite
aiopg
asyncpg

# Sync database drivers for standard tooling around setup/teardown/migrations.
pymysql
psycopg2-binary
mysqlclient

# Testing
mypy
pytest
pytest-cov
codecov
pytest-asyncio
fastapi
flake8
flake8-black
flake8-bugbear
flake8-import-order
flake8-bandit
flake8-annotations
flake8-builtins
flake8-variables-names
flake8-cognitive-complexity
flake8-functions
flake8-expression-complexity

# Documantation
mkdocs
mkdocs-material
mkdocs-material-extensions
pydoc-markdown

# Performance testing
yappi
