name: codspeed-benchmarks

on:
  push:
    branches: [ master, pydantic_v2 ]
  pull_request:
    branches: [ master, pydantic_v2 ]
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: snok/install-poetry@v1.4
        with:
          version: 2.1.3
          virtualenvs-create: false

      - name: Poetry details
        run: |
          poetry --version
          poetry config --list

      - name: Install dependencies
        run: poetry install --extras "all"

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: walltime
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: poetry run pytest benchmarks/ --codspeed
