# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: test_docs

on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches: [ master ]

jobs:
  tests_docs:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'collerek/ormar'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install poetry==1.4.2
        poetry install --extras "all"
      env:
        POETRY_VIRTUALENVS_CREATE: false
    - name: Test docs
      run: bash scripts/test_docs.sh
